<div *ngIf="selectedRecipe">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="selectedRecipe.imagePath"
        [alt]="selectedRecipe.name"
        class="img-responsive"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ selectedRecipe.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div appDropdown>
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
          </button>
          <!-- delete button -->
          <button
            class="btn btn-danger"
            (click)="onDeleteRecipe()"
            *ngIf="selectedRecipe"
          >
            Delete
          </button>
        </div>

        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()">To Shopping List</a></li>
          <li><a routerLink="edit">Edit Recipe</a></li>
          <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- row for description -->
  <div class="row">
    <div class="col-xs-12">
      <h4>{{ selectedRecipe.description }}</h4>
    </div>
  </div>
  <!-- ingredients -->
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of selectedRecipe.ingredients"
        >
          {{ ingredient.name }} {{ ingredient.amount | ingredientFormat }}
        </li>
      </ul>
    </div>
  </div>
</div>
