<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink="new">New Recipe</button>
  </div>
</div>
<hr />
<div class="row" *ngIf="isLoading">
  <div class="col-xs-12">
    <div class="loader"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipe of recipes$ | async"
      [recipe]="recipe"
    ></app-recipe-item>
    <!-- if errorMessage show warning div -->
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
