<h3>Liste of servers :</h3>
<p *ngIf="allowNewServer">
  You can add a new server
  <button class="btn btn-danger" (click)="allowNewServer = false">
    Disallow
  </button>
</p>
<p *ngIf="!allowNewServer">
  You can't add a new server
  <button class="btn btn-success" (click)="allowNewServer = true">Allow</button>
</p>
<hr />
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  (keyup.enter)="createServer()"
/>
<br />
<button
  [disabled]="!allowNewServer || serverName.trim().length === 0"
  class="btn btn-success"
  (click)="createServer()"
>
  Add Server
</button>
<hr />
<app-server
  *ngFor="let server of servers; let i = index"
  [serverId]="i"
  [serverStatus]="server.status"
  [serverName]="server.name"
></app-server>
